{% extends 'base.html.twig' %}

{% block title %}News detail{% endblock %}

{% block body %}
    <div>
        <h2>{{ news.title }}</h2>
        <span>{{ news.published_at }}</span>
        <br>
        {% if news.image_url %}
            <img src="{{ news.image_url }}" alt="{{ news.title }}" width="500">
        {% endif %}
        <p>{{ news.content|raw }}</p>
        <a href="/">На главную</a>
    </div>
{% endblock %}
